<div class="grid_12 alpha">
	<!-- DESCRIPTION -->
	<div class="grid_12">
		<h2> Rethinking IoT Narratives </h2>
		<p class='lead'>
			<em> 
				A new programming metaphor for IoT interaction design
			</em> 
			<address>
			  <strong>Cesar Torres</strong><br>
			  cearto@berkeley.edu <br>
			</address>
			<address>
			  <strong>Jasper O'Leary</strong><br>
			  j.oleary@berkeley.edu <br>
			</address>
			<address>
			<strong>Neil Kumar</strong><br>
			  neil.kumar@berkeley.edu <br>
			</address>
			<address>
			<strong>Emily Chou</strong><br>
			  emchou@berkeley.edu <br>
			</address>
			<address>
			  <strong>Connor Freeman</strong><br>
			  cfreeman@berkeley.edu <br>
			</address>
			
		</p>
		<%= link_to  jig_interface_path(3), :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-edit"> </span> Design
		<% end %>
		</p>
	</div>



</div>

